.btn
{
    height: 10rem;
    width: 10rem;
    background-color: rgb(164, 212, 130);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px;
}

.btn img
{
    height: 75px;

}
body
{
    text-align: center;
    background-image: linear-gradient(90deg ,red,yellow) 
}

.reset_btn
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer;

}